---
import Logo from './Logo.astro';
---

<header class="nav">
  <div class="wrap nav__row">
    <a class="brand" href="/" aria-label="Velidion home">
      <Logo size={26} />
      Velidion
    </a>
    <a class="btn btn-ghost" href="#talk">Talk to us</a>
  </div>
</header>
